<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="False" />

  <include file="$(find kuka_coke_description)/launch/upload.launch"/>

  <node if = "$(arg simulation)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <param name="rate" value="500"/>
    <rosparam param="/source_list">[/kr_50_r2500/joint_states]</rosparam>
  </node>

  <node if = "$(arg simulation)" name="joint_target_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="rate" value="500"/>
    <remap from="joint_states" to="/kr_50_r2500/joint_target"/>
  </node>

  <node unless = "$(arg simulation)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="rate" value="500"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_coke_description)/config/view_cell.rviz" required="true" />
</launch>
