<?xml version="1.0"?>
<launch>

  <arg name="pipeline" default="ompl"/>
  <arg name="use_rviz" default="true" />

  <include file="$(find kuka_coke_configurations)/launch/simulation.launch">
    <arg name="fake" value="false"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include>

  <node pkg="parallel_2f_gripper"  type="gripper_server.py" name="parallel_gripper_server" output="screen" />

</launch>
